  header {
    padding: 40px 4% 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    width: 100px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
  }
 

  nav ul li a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1rem;
  }
  
  .pagina-ativa {
    color: var(--coral);
  }
 

.desktop-menu {
 display: block;

}

.mobile-menu {
  display: none;
}
.js-accordion{
  display: none;
}


@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu span{
    margin-right: 40px;
    margin-top: -40px;
    font-size: 1.5rem;
    color: var(--coral);
    display: block;
    cursor: pointer;
  }

  .js .mobile-menu ul {
    display: none;
  }

  .mobile-menu ul.ativo{
    position: absolute;
    
    margin-right: 10px;
    font-size: 30px;
    top: 80px;
    display: block;
    cursor: pointer;
    animation: slideDown .5s forwards;
  }
  
  @keyframes slideDown {
    from{
      opacity: 0;
    }
  
    to{
      opacity: 1;
    }
  }
  }

