.spanAlert{
        display:flex;
        flex-wrap:wrap;
        width:100px;
        padding:10px;
        font-size:10px;
        background-Color: rgb(155, 152, 152);
        border-radius:10px;
}